body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #e40303 0% 16.66%,
    #ff8c00 16.66% 33.33%,
    #ffed00 33.33% 50%,
    #008026 50% 66.66%,
    #004dff 66.66% 83.33%,
    #750787 83.33% 100%
  );
  z-index: -1;
}


h1 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 15px 20px;
  line-height: 1.5;
  color: #fff;
}


.foto-centro {
  display: block;          
  margin: 20px auto;
  width: 200px;        
  max-width: 90%; 
  height: auto;              
  position: fixed;          
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.foto-caindo {
  position: absolute;
  width: 80px;
  top: -100px;
  animation: cair 5s linear infinite;
}


.f1 { left: 20%; animation-delay: 0s; }
.f2 { left: 30%; animation-delay: 1s; }
.f3 { left: 70%; animation-delay: 2s; }
.f4 { left: 80%; animation-delay: 3s; }
.f5 { left: 50%; animation-delay: 1.5s; }


@keyframes cair {
  from { top: -100px; transform: rotate(0deg); }
  to { top: 100vh; transform: rotate(360deg); }
}


@media (max-width: 600px) {

  h1 {
    font-size: 20px;
    margin-top: 10px;
  }

  p {
    font-size: 16px;
    margin: 10px 10px;
  }

  .foto-centro {
    position: relative;       
    top: auto;
    left: auto;
    transform: none;
    width: 120px;             
    margin: 20px auto;        
  }


  .foto-caindo {
    width: 40px;
    top: -50px;
    opacity: 0.4;
  }
}